/* Shared Fonts */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

.agbalumo-regular {
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Noto Serif */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

/* Font inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body
{
    max-width: 1440px;
    margin: 0 auto;
}

/* nav-style */
.nav-section{
    max-width: 1140px;
    margin: 0 auto;
}
.navigation-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.website-logo{
    width: 135px;
    height: 82px;
}
.nav-menu{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    
}
.nav-link{
    text-decoration: none;
    color: #252432;
    font-weight: 800;

}
.nav-shop{
    color: #8987A1;
}
.nav-about{
    color: #8987A1;
}
.cart-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-items{
    margin-right: 48px;
}
.cart-icon{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.cart-info{
    color: #000000;
}




/* Hero-section style */
.hero-section{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    
}
.hero-title{
    color: #000000;
    font-weight: 800;
    font-size: 4rem;
}
.hero-title-fresh{
    color: #E95A08;
}
.hero-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.37rem;

}


/* Our plant style */
.our-plants-section{
    max-width: 1140px;
    margin: 0 auto;

}
.our-plant-text-container
{
    text-align: center;
    margin-top: 120px;
    
}
.our-plant-title
{
    font-weight: 800;
    font-size: 3.12rem;
}
.color-title{
    color: #E95A08;
}
.plant-description
{
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5) ;
    width: 888px;
    margin: 0 auto;
}

.our-plant-image-container
{
    width: 362px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
    margin-top: 49px;


}
.flower-title
{
    font-size: 1.37rem;
    color: #111111;
    font-weight: 500;
    text-align: center;
}
.flower-price
{
    font-size: 1.37rem;
    color: #111111;
    font-weight: 800;
    text-align: center;
}
.add-to-cart-btn
{
    width: 100%;
    background-color: #E95A08;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    padding: 19px 80px;
}

/* Flower and Plants Lover Style */
.flower-plant-lover-section
{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    margin-top: 210px;
    position: relative;
}
.flower-plant-text-container{
    margin-left: 60px;
}
.flower-plant-title{
    font-size: 3.12rem;
    color: #000000;
    font-weight: 800;

}
.flower-plant-list-item{
    color:rgba(0, 0, 0, 0.5) ; 
    font-size: 1.37rem;
    margin-bottom: 20px;
    
}
.trusted-badge
{
    position: absolute;
    width: 286px;
    height: 286px;
    left: 347px;
    top: -140px;

}


/* Latest deal style */

.latest-deal-section{
    display: flex;
    margin: 0 auto;
    margin-top: 134px;
    
}
.latest-deal-content-conatiner{
    width: 1440px;
    margin: 0 auto;

}
.latest-deal-title{
    text-align: center;
    font-weight: 800;
    font-size: 3.12rem;
    margin-bottom: 16px;
}
.latest-deal-color
{
    color: #E95A08;
}
.latest-deal-description
{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.37rem;
    text-align: center;
    width: 888px;
    margin: 0 auto;
}
.latest-deal-image-container{
    width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 367px 753px;
    grid-template-rows: 201px 401px;
    gap: 28px;
    margin-top: 120px;
}
.image-1-container
{
    position: relative;
    width: 100%;
    height: 100%;
}
.image-1,.image-1-title,.image-1-btn,.dark-overlay-1{
    position: absolute;
}

.image-1 img{
    border-radius: 14px;
}
.image-1-title{
    font-size: 1.25rem;
    color: #FFFFFF;
    font-weight: 800;
    left: 49px;
    top: 65px;
   
}
.image-1-btn
{
    left: 145px;
    top:118px;

    
}
.shop-now-btn{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    border: none;
    background: none;
    text-decoration: underline;

}

.dark-overlay-1{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    border-radius: 14px;
}


.shop-now-btn-1{
    font-size: 1.25rem;
    color: #FFFFFF;
    background: none;
    text-decoration: underline;
    border: none;
}



.image-2-container
{
    position: relative;
    width: 100%;
    height: 100%;
}
.image-2,.image-2-title,.image-2-btn,.dark-overlay-2{
    position: absolute;
}

.image-2 img{
    border-radius: 14px;
}
.image-2-title{
    font-size: 2.5rem;
    color: #FFFFFF;
    font-weight: 800;
    left: 128px;
    top: 172px;
   
}
.image-2-btn
{
    left: 292px;
    top:282px;

    
}
.shop-now-btn-2{
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    border: none;
    background: none;
    text-decoration: underline;

}

.dark-overlay-2{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    border-radius: 14px;
}





.image-3-container
{
    position: relative;
    width: 100%;
    height: 100%;
    
}
.image-3,.image-3-title,.image-3-btn,.dark-overlay-3{
    position: absolute;
}

.image-3 img{
    border-radius: 14px;
}
.image-3-title{
    font-size: 1.25rem;
    color: #FFFFFF;
    font-weight: 800;
    left: 49px;
    top: 65px;
   
}
.image-3-btn
{
    left: 145px;
    top:118px;

    
}
.shop-now-btn-3{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    border: none;
    background: none;
    text-decoration: underline;

}

.dark-overlay-3{
    background-color: rgba(0, 0, 0, 0.2);
    width: 367px;
    height: 197px;
    border-radius: 14px;
}

/* Bunch Section */

.colorful-bunch-section
{
    width: 1440px;
    height: 533px;
    position: relative;
}
.image-container img{
    width: 100%;
    height: 100%;
    
}
.image-container,.color-bunch-title-container{
    position:absolute;
}
.color-bunch-title-container{
    width: 830px;
    height: 141px;
    margin: 0 auto;
    left: 305px;
    top: 199px;
   
}
.color-bunch-title{
    text-align: center;
    font-size: 3.12rem;
    font-weight: 800;
    color: #FFFFFF;
}
.email-field{
    width: 634px;
    padding: 19px;
}
.subscribe-btn{
    width: 146px;
    padding: 20px;
    margin-left: -4px;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: #E95A08;
    border: none;
    color: #FFFFFF;
}


/* Footer section */
.footer-section{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.company-container{
    width: 359px;
}
.menu-container{
    display: flex;
    gap: 110px;
}
.comapny-desc
{
    font-size: 1.35rem;
    color: rgba(0, 0, 0, 0.5);
}
.menu-list-items
{
    list-style: none;
    margin-bottom: 32px;
}
.menu-link{
    text-decoration: none;
    color: #6B7280;
    font-size: 1rem;
  
    text-align: center;
}
.social-media-container img{
    width: 36px;
    height: 36px;
}
.social-media-container
{
    display: flex;
    justify-content: center;
    gap: 24px;
}




/* Responsive Section */
@media screen and (max-width: 576px) {
    /* Menu-section */
    .nav-section{
    max-width: 361px;
    margin: 0 auto;
}
    .display-no{
        display: none;
    }
    /* Hero-section */

.hero-section{
    max-width: 393px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    
}
.hero-img{
    width: 100%;
    height: 245px;
}

.hero-info-container{
    width: 360px;
    height: 68px;
}

.hero-title{
    color: #000000;
    font-weight: 800;
    font-size: 1.5rem;

}
.hero-title-fresh{
    color: #E95A08;
}
.hero-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* our plant section */
.our-plants-section{
    max-width: 393px;
}
.our-plant-title
{
    font-weight: 800;
    font-size: 1.5rem;
}
.plant-description
{
    font-size: 0.85rem;
    color: rgba(0, 0, 0, 0.5) ;
    width: 336px;
    margin: 0 auto;
}
.our-plant-image-container
{
    width: 362px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin: 28px auto;


}
.plant-img-card img{
  width: 100%;
  height: auto;
  display: block;
}
.plant-img-card{
  overflow: hidden;
}



.flower-title
{
    font-size: 1rem;
    color: #111111;
    font-weight: 500;
    text-align: center;
}
.flower-price
{
    font-size: 1rem;
    color: #111111;
    font-weight: 800;
    text-align: center;
}
.add-to-cart-btn
{
    width: 100%;
    background-color: #E95A08;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    padding: 19px 30px;
}


/* Flower-plants-lover-section */




    
}