/* Shared Fonts */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

.agbalumo-regular {
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Noto Serif */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

/* Font inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body
{
    max-width: 1140px;
    margin: 0 auto;
}

/* nav-style */
.navigation-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.website-logo{
    width: 135px;
    height: 82px;
}
.nav-menu{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    
}
.nav-link{
    text-decoration: none;
    color: #252432;
    font-weight: 800;

}
.nav-shop{
    color: #8987A1;
}
.nav-about{
    color: #8987A1;
}
.cart-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-items{
    margin-right: 48px;
}
.cart-icon{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.cart-info{
    color: #000000;
}




/* Hero-section style */
.hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    
}
.hero-title{
    color: #000000;
    font-weight: 800;
    font-size: 4rem;
}
.hero-title-fresh{
    color: #E95A08;
}
.hero-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.37rem;

}
